body{
  margin: 0;
}

.container{
  display: flex;
min-height: 100vh;
align-items: center;
flex-direction: column;
justify-content: center;
}

.dp-wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  /* border: 2px solid white; */
  border-radius: 50%;
  cursor: pointer;
  background-color: black;
  transition: all 0.2s;
  outline: 1px solid white;
}

.dp-wrapper:hover {
  opacity: 0.9;
  outline: 4px solid white;
}

img{
  width: inherit;
  height: inherit;
  object-fit: cover;
}